{% extends "template.html" %}

{% block css %}
<style>
  h1 {
    font-size: 3rem;
    text-align: center;
  }

  ul {
      list-style-type: disc; /* Ensures bullet points */
      padding-left: 20px; /* Keeps the left margin for bullets */
      text-align: left; /* Aligns text to the left */
      margin: 0 auto; /* Centers the list itself */
      width: 50%; /* Control width to keep the margin consistent */
    }

    li {
      margin-bottom: 10px; /* Adds space between items */
    }
</style>
{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center gap-3 my-4">
  <img src="static/assets/info_icon.png" alt="Left Icon" style="height: 40px;">
  <h1 class="m-0">About</h1>
</div>

<ul>
  <li>We are a group of students from class 2425 and 2426 taking H2 Computing working on a school project to make students’ lives easier.</li>
  <li>We are working on an event organiser which allows students to create events and join events.</li>
  <li>We know school life can be busy. That’s why Hello Panda brings clarity, structure, and collaboration to event planning, so things run smoothly from start to finish.</li>
</ul>
{% endblock %}
