{% extends "template.html" %}

{% block css %}
<style>
  h1 {
    font-size: 3rem;
    text-align: center;
  }
</style>
{% endblock %}

{% block content %}
<h1>Features</h1>
<ul>
  <li>User-Friendly Interface: Simple and intuitive design for quick navigation.</li>
  <li>Event Creation: Easily set up and customize school events, including dates, times, and descriptions.</li>
  <li>RSVP Tracking: Track student and staff attendance with real-time updates.</li>
  <li>Reporting & Analytics: View event data such as attendance trends and participant demographics.</li>
</ul>
{% endblock %}
