{% extends "template.html" %}
{% block css %}
    {% include "/pages/studenteventdetails/studenteventdetails.css" %}
{% endblock %}

{% block content %}
    <div id="event-div">
        <div id="details">
            <table id="detail-table">
                <tr class="detail-table-row">
                    <td>Event Name: {dummy var}</td> <!-- add jinja variable here -->
                </tr>
                <tr class="detail-table-row">
                    <td>Date: {dummy var}</td> <!-- add jinja variable here -->
                </tr>
                <tr class="detail-table-row">
                    <td>Location: {dummy var}</td> <!-- add jinja variable here -->
                </tr>
                <tr class="detail-table-row">
                    <td>Description: {dummy var}</td> <!-- add jinja variable here -->
                </tr>
                <tr class="detail-table-row">
                    <td>Number of slots: {dummy var}</td> <!-- add jinja variable here -->
                </tr>
            </table>
        </div>
        <form id="buttons-div" method="POST">
            <div>
                <button id="signup-button" name="signup" type="submit" value="signup">SIGN UP</button>
            </div>
            <div>
                <button id="unregister-button" name="unregister" type="submit" value="unregister">UNREGISTER</button>
            </div>
        </form>
        {% if misc_msg %} <!-- can change if condition as needed-->
            <div id="misc_msg">
                <h1>{{misc_msg}}</h1>
            </div>
        {% endif %}
    </div>
{% endblock %}