{% extends "template.html" %}
{% block css %}
    {% include "/pages/studenteventdetails/studenteventdetails.css" %}
{% endblock %}

{% block content %}
    <div id="event-div">
        <div id="details">
            <table id="detail-table">
                <tr class="detail-table-row">
                    <td>Event Name: {dummy var}</td> <!-- add jinja variable here -->
                </tr>
                <tr class="detail-table-row">
                    <td>Date: {dummy var}</td> <!-- add jinja variable here -->
                </tr>
                <tr class="detail-table-row">
                    <td>Location: {dummy var}</td> <!-- add jinja variable here -->
                </tr>
                <tr class="detail-table-row">
                    <td>Description: {dummy var}</td> <!-- add jinja variable here -->
                </tr>
                <tr class="detail-table-row">
                    <td>Number of slots: {dummy var}</td> <!-- add jinja variable here -->
                </tr>
            </table>
        </div>
        <div id="buttons-div">
            <div>
                <button id="signup-button">SIGN UP</button>
            </div>
            <div>
                <button id="unregister-button">UNREGISTER</button>
            </div>
        </div>
    </div>
    {% if misc_msg %} <!-- can change if condition as needed-->
        {% if misc_msg == "full"%}
            <div id="misc_msg">
                <h1>event too full</h1>
            </div>
        {% endif%}
        {% if misc_msg == "success"%}
            <div id="misc_msg">
                <h1>registered successfully</h1>
            </div>
        {% endif%}
    {% endif %}
{% endblock %}