.container{
	display: flex;
	justify-content: center;
	align-items: center;
	width:100%;
	height:100vh;
	flex-direction:column;
	gap: 10px;
    margin-top: -140px;
	}

	.input-box{
		position: relative;
	}
	.input-box input {
		width: 750px;
		padding: 12px 12px 12px 40px;
		font-size: 16px;
		border: 2px solid #ccc;
		border-radius: 5px;
		background-color: #f0f0f0;
	}
	
	.input-box i{
		position: absolute;
		left: 12px;
		top: 50%;
		transform: translateY(-50%);
		color: #999;
		font-size: 18px;
	}

	.label{
		font-size: 15px;
		font-weight: 700;
		width: 750px;
		text-align: left;
		font-family: montserrat;
	}
	
	.reg-button{
		margin-top: 15px;
		width: 50%;
		font-size: 25px;
		background: red;
		font-family: league spartan;
		color: white;
		font-weight: 900;
		border-style: none;
	}
	
	.reg-button:hover{
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	}

	.role-select {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5px;
		margin-bottom: 20px;
	}

	.role-button{
		margin-top: 10px;
		width: 50%;
		font-size: 25px;
		background: grey;
		font-family: league spartan;
		color: white;
		font-weight: 900;
		border-style: none;
		
	}

	.role-buttons {
		display: flex;
		gap: 10px;
		justify-content: center;
	}

	.role-button.selected {
		background-color: black;
		color: white;
		border-color: #333;
	}

	.form-footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 20px;
		gap: 100px;
	}
	
	.terms-checkbox {
		font-size: 0.9em;
		font-family: 'Montserrat', sans-serif;
		display: flex;
		align-items: center;
		gap: 8px;
	}
	