{% extends "template.html" %}
{% block head %}
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=League Spartan' rel='stylesheet'>
{% endblock %}
{% block content %}
	<form action = '/register' method="POST">
	<div class="role-select">
		<h5 style="font-family: 'Georgia', serif;">CHOOSE YOUR ROLE</h5>
		<div class="role-buttons">
			<button type="button" class="role-button" onclick="selectRole('participant')">Participant</button>
			<button type="button" class="role-button" onclick="selectRole('organiser')">Organiser</button>
		</div>
		<input type="hidden" name="role" id="role-field" value="">
	</div>
	<div class="container">
    <div class="label"><label for ='name-field'> NAME:</label></div>
		<div class="input-box">
			<input id='name-field' type = 'text' name = 'name' value=''>
		</div>    
    <div class="label"><label for ='class-field'> CLASS:</label></div>
		<div class="input-box">
			<input id='class-field' type = 'text' name = 'class' value=''>
		</div>  
	<div class="label"><label for ='user-field'> USERNAME:</label></div>
		<div class="input-box">
			<i class="fas fa-user"></i>
			<input id='user-field' type = 'text' name = 'username' value=''>
		</div>
	<div class="label"><label for = 'pass-field'> PASSWORD: </label></div>
		<div class="input-box">
			<i class="fas fa-lock"></i>
			<input id='pass-field' type='password' name='password'  value=''>
		</div>
	<div class="form-footer">
		<label class="terms-checkbox">
			<input type="checkbox"><a>I have read the Terms and Conditions</a> 
		</label>
		<button type="submit" class="reg-button">REGISTER</button>
	</div>
	</form>
	</div>

	<script>
		function selectRole(role) {
			const buttons = document.querySelectorAll(".role-button");
			buttons.forEach(button => {
				button.classList.remove("selected");
			});
			const clickedButton = Array.from(buttons).find(button => button.textContent.toLowerCase() === role);
			if (clickedButton) {
				clickedButton.classList.add("selected");
			}
		}
	</script>
	
{% endblock %}

{% block css %}
    {% include "/pages/register/register.css" %}
{% endblock %}