.contact-card {
    background-color: #eaf6f6 !important;
    border: 2px solid #000 !important;
    border-radius: 12px;
    padding: 2rem;
    min-height: 300px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
  }
  
  
  
  
  .contact-card .icon i {
    color: #000;
  }
  