{% extends "template.html" %}
{% block css %}
    {% include "/pages/create_event/create_event.css" %}
{% endblock %}

{% block content %}
    <div id="event-div">
        <div id="details">
            <table id="detail-table">
                <tr class="detail-table-row">
                    <td>Event Name: <input type="text" name="event_name"/></td> 
                </tr>
                <tr class="detail-table-row">
                    <td>Date: </td> 
                </tr>
                <tr class="detail-table-row">
                    <td>Location: </td> 
                </tr>
                <tr class="detail-table-row">
                    <td>Description: </td> 
                </tr>
                <tr class="detail-table-row">
                    <td>Number of slots:</td> 
                </tr>
            </table>
        </div>
        <form id="buttons-div" method="POST">
            <div>
                <button id="signup-button" name="signup" type="submit" value="signup">SAVE</button>
            </div>
            <div>
                <button id="unregister-button" name="unregister" type="submit" value="unregister">CANCEL</button>
            </div>
        </form>
        {% if misc_msg %} <!-- can change if condition as needed-->
        <div class="alert-wrapper">
            <div class="alert">
                <strong>{{misc_msg}}</strong>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}