#event-div {
    margin: auto;
}

#details {
    background-color: #d9d9d9;
    margin: auto;
    margin-top: 15px;
    padding: 5px;
    border: solid 3px black;
    border-radius: 10px;
    width: 50%;
    height: 430px;
}

#detail-table {
    height: 100%;
    margin-left: 8px;
}

td {
    font-weight: bold;
    font-size: 20px;
}

#buttons-div {
    margin: auto;
    margin-top: 25px;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

#signup-button {
    padding: 10px 20px;
    border: solid 2px black;
    background-color: #ff914d;
    border-radius: 8px;
    transition-duration: 0.3s;
    font-weight: bold;
}

#unregister-button {
    padding: 10px 20px;
    border: solid 2px black;
    background-color: #ed2027;
    border-radius: 8px;
    transition-duration: 0.3s;
    font-weight: bold;
}

#signup-button:hover {
    background-color: #e67634;
}

#unregister-button:hover {
    background-color: #c41b22;
}

.alert-wrapper {
    position: absolute; /* can change to position: fixed */
    top: 150px;
    left: 15%;
    margin: auto;
    width: 70%;
}

.alert {
    background-color: #2196F3;
    color: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    max-height: 200px;
    transition: all 0.5s ease;
    animation: fadein 0.5s ease forwards, fadeout 0.5s ease 2s forwards;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeout {
    to {
        opacity: 0;
        padding: 0;
        margin: 0;
        max-height: 0;
    }
}